```{=html}
<div class="listing-section">
    <% if (items.length> 0) { %>
        <div class="listing-grid">
            <% for (const item of items) { %>
                <a href="<%= item.path %>" class="listing-card">
                    <div class="listing-content">
                        <div class="listing-title-section">
                            <h2>
                                <%= item.title %>
                            </h2>
                        </div>
                        <% if (item.subtitle) { %>
                            <p>
                                <%= item.subtitle %>
                            </p>
                            <% } else if (item.description) { %>
                                <p>
                                    <%= item.description %>
                                </p>
                                <% } %>
                                    <span class="listing-link">
                                        <%= item.linkText || "Click to learn more" %>
                                    </span>
                    </div>
                </a>
                <% } %>
        </div>
        <% } else { %>
            <p>No items found.</p>
            <% } %>
</div>
```